.whole{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: radial-gradient(
        farthest-corner at 50% 10%,
        white 80%,
        rgb(149, 149, 149)
    );
}
.head {
    height: 20%;
    position: relative;
    background: radial-gradient(
        farthest-corner at 20% 100%,
        white 2%,
        rgb(170, 170, 170) 60%
    );
    font-family: "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}
.headtext {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;

    font-size: 200%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.headtext2{
	position: absolute;
    top: 0;
    right: 0;
    color: rgb(255, 40, 201);
    font-size: 600%;
    margin-right: 2%;
	margin-top: 0%;
}
.fitimg {
    max-width: 95%;
    max-height: 95%;
    margin-left: 2%;
}


.bodybg {
    height: 80%;
    font-family: "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}
a{
    color: rgb(21, 9, 80);
}
.tab {
    width: 50%;
    height: 50px;
    margin: auto;
    background: linear-gradient(
        to right,
        rgb(190, 190, 190),
        rgb(246, 246, 246) 15%,
        rgb(190, 190, 190)
    );
}
.tabb {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration: none;

}
.tabbox1 {
    display: table-cell;
    width: 25%;
    text-align: center;
    color: rgb(21, 9, 80);
    
}
.tabbox1:hover {
    background-color: rgb(21, 9, 80);
}
.link:hover{
    background-color: rgb(21, 9, 80);
    color: white;
    margin: 1%;
}


.texttop{
    text-align: center;
    font-size: 140%;
    line-height: 110%;
    padding: 1%;
    color: rgb(255, 40, 201);
}
.leftbox{
    display: flex;
    padding-left: 3%;
    width: 76%;
    margin: 0px;
}

.box{
    border: 5px;
    border-color:rgb(255, 40, 201);
    color: rgb(255, 40, 201);
    padding: 1%;
    border-style: solid;
    font-size: 100%;
    width: 70%;
}

.box1{   
    display: grid; 
    padding-left: 2%;
    font-size: 100%;
    width: 30%;
}

.box11{
    grid-row: 2;
    background: linear-gradient(to right, white, rgb(255, 40, 201) ) ;
    color: white ;
    font-size: 140%;
    line-height: 0%;
    text-align: right;
    padding-right: 2%;
    width: 100%;
}
.box12{
    padding-top: 4%;
    grid-row: 3;
    padding-left: 2%;
    background-color: rgb(247, 210, 239) ;
    width: 100%;
}
.validbox{
    display: table-column;
    margin: auto;
    width: 20%;
    padding-left: 2%;
}
.valid{
    background-color: rgb(255, 40, 201);
    color: white ;
    font-size: 90%;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    text-decoration: none;
}

.text{
    font: italic 90% "Fira Sans", serif;
    border: none;
    border-bottom: rgb(255, 40, 201) dotted 3px;
    width: 82%;
    color: rgb(9, 9, 121);
    font-size: 110%;
}

input:focus{
    outline: none;
}

.rightbox{
    display: flex;
    margin: auto;
    padding: 2%;
    width: 10%;
}
.wrapper{
    display: flex;
    padding-bottom: 2%;
}

.box2{
    border: 2px;
    border-color:rgb(255, 40, 201);
    color: rgb(255, 40, 201);
    border-style: solid;
    width: 100%;
    background: linear-gradient(to right, rgb(231, 130, 206), white ) ;
}

.box21{
    color: rgb(0, 0, 0) ;
    font-size: 110%;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.box22{
    color: rgb(9, 9, 121);
    font-size: 120%;
    text-align: center;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 4%;
}